{% extends "base.html" %}

{% block content %} 
    <div class="v_container">
        <a href="{{url_for('login')}}">
            <div class="v_vehicle">
                <span class="brand">Toyota</span>
                <span class="Model">Land Cruiser</span>
                <span class="Plate">ES-324433</span>
            </div>            
        </a>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
        <div class="v_vehicle">
            <span class="brand">Toyota</span>
            <span class="Model">Land Cruiser</span>
            <span class="Plate">ES-324433</span>
        </div>
    </div>
{% endblock %}